site_name: Foundations of AI
site_description: Projects developed for Foundations of Artificial Intelligence (CS-5100)
site_author: Praphul Samavedam
site_url: https://PraphulSamavedam.github.io/Foundations-of-AI/

# Repository
repo_name: CS-5100-Foundations-of-AI
repo_url: https://github.com/PraphulSamavedam/CS-5100-Foundations-of-AI
edit_uri: edit/main/docs/

# Copyright
copyright: Copyright &copy; 2024-2026

# Configuration
theme:
  name: material
  language: en
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: indigo
      accent: blue
      toggle:
        icon: material/brightness-5
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: indigo
      accent: blue
      toggle:
        icon: material/brightness-2
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Plugins
plugins:
  - search:
      lang: en

# Page tree
nav:
  - Home: index.md
  - Search Algorithms: search-algorithms.md
  - Probabilistic Tracking: probabilistic-tracking.md
  - Reinforcement Learning: reinforcement-learning.md
  - Multi-Agent Systems: multi-agent-systems.md

# Extra
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/PraphulSamavedam
